@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mate+SC&display=swap');:root {
    --primary-color: #007af3;
    --light-color: #f2f2f2;
    --dark-color: #20272e;
}

body {
    background: var(--light-color);
    margin: 0;
    font-family: 'Poppins';
}

.navbar {
    background: #000;
    padding: 1em;
    position: fixed;
    width: 100%;
    box-sizing: border-box;
    z-index: 999;

    .logo-part {
        display: flex;
        align-items: center;
        text-decoration: none;
        font-weight: bold;
        color: #fff;
        font-size: 1.4em;
        .logo-text {
            margin-bottom: 0.3em;
            margin-left: 1em;
            span {
                color: var(--primary-color);
            }
        }
        .logo {
            img {
                width: 2rem;
            }
        }
    }

    nav {
        display: none;
    }
    
    .container {
        display: flex;
        place-content: space-between;
    }
    .mobile-menu {
        cursor: pointer;
    }
}

a {
    color: #444444;
}

ul {
    list-style-type: none; // remove bullets in lists
    margin: 0;
    padding: 0;
}

section {
    padding: 3em 2em 7em 3em;
}

.subhead{
    &:before {
        content: '';
        position: absolute;
        left: 0px;
        top: 12px;
        width: 60px;
        height: 2px;
        background-color: var(--primary-color);
    }
    text-align: center;
    position: relative;
    text-transform: uppercase;
    font-weight: bold;
    color: var(--primary-color);
    letter-spacing: .3em;
}

.hero {
    text-align: center;
    background: black;
    height: 100vh;
    .container {
        padding-top: 5em;
    }
    .left-col {
        h1 {
            font-size: 3em;
            line-height: 1.3em;
            margin-top: .2em;
            color: #fff;
            font-family: 'Mate SC', serif;
        }
    
        .primary-cta {
            background: var(--primary-color);
            color: white;
            text-decoration: none;
            padding: .6em 1.3em;
            border-radius: 5em;
            font-weight: bold;
            display: inline-block;
        }
        .watch-video-cta {
            display: block;
            margin: 1em 0 0 0;
            img {
                margin-right: .5em;
            }
        }
    }    
}

section.about-section {
    margin:0;
    position: relative;
    // come back to this
    &>.container>img {
        display: none;
    }
    ul.expertise {
        display: flex;
        flex-direction: row;
        text-align: center;
        justify-content: center;
        flex-wrap: wrap;
        li {
            color: white;
            padding: 0.5em;
            background: var(--primary-color);
            width: 10em;
            height: 10em;
            margin-bottom: 1em;
            margin-right: 1em;
            border-radius: 1em;
            img {
                width: 6em;
            }
        }
    }
    div.about-links {
        display: flex;
        flex-direction: column;
        align-items: center;
        &>a {
            padding-top: 0.2em;
            text-decoration: none;
            flex-grow: 0;
            width: 150px;
            height: 30px;
            text-align: center;
            color: white;
            background: var(--primary-color);
            border-radius: 1em;
        }
        ul.about-links {
            margin: 2em 0 1em 0;
            display: flex;
            justify-content: center;
            align-items: stretch;
            li {
                margin-right: 1em;
                height: 3em;
                width: 3em;
                border-radius: 1em;
                img {
                    border-radius: 1em;
                }
            }
        }
    }
}



section.projects-section {
    background: var(--dark-color);
    color: white;
    display: flex;
    flex-wrap: wrap;
    .project-card {
        &.filler {
            background: transparent;
            box-shadow: none;
            display: none;
        }
        text-align: center;
        flex: 1 1 400px;
        background: var(--light-color);
        color: var(--dark-color);
        max-width: 500px;
        min-width: 400px;
        height: 600px;
        z-index: 1;
        margin-bottom: 1em;
        margin-left: 2em;
        box-shadow: 2px 2px 4px black;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        box-sizing: border-box;
        padding: 2em;
        h3 {
            font-size: 1.5em;
        }
        div.imgs-tech {
            display: flex;
            justify-content: center;
            img {
                height: 2em;
                margin: 0 1em 0 0;
            }
        }
        img.img-project {
            align-self: center;
            width: 200px;
            height: 200px;
        }
        .seelive {
            text-decoration: none;
            text-transform: uppercase;
            color: var(--light-color);
            background: var(--primary-color);
            text-align: center;
            padding: 1em;
            justify-self: flex-end;
            &:hover {
                cursor: pointer;
            }
        }
        
    }
}

// ul.features-list {
//     margin:0;
//     padding-left: .1em;
//     // come back to this
//     display: grid;
//     grid-template-columns: repeat(auto-fit, minmax(19rem, 1fr));
//     li {
//         font-size: 1.1em;
//         margin-bottom: 1em;
//         margin-left: 2em;
//         position: relative;
//         &:before {
//             content: '';
//             left: -2em;
//             position: absolute;
//             width: 20px;
//             height: 20px;
//             background-image: url('../images/bullet.svg');
//             background-size: contain;
//             margin-right: .5em;
//         }
//     }
// }

// .features-section img {
//     display: none;
// }

.testimonials-section {
    background: var(--primary-color);
    color: white;
    li {
        background: #0068D6;
        text-align: center;
        padding: 2em 1em;
        width: 80%;
        margin: 0 auto 5em auto;
        border-radius: 1em;
        img {
            width: 5em;
            height: 5em;
            border: 5px solid #0068D6;
            border-radius: 50%;
            margin-top: -4.5em;
        }
    }
}

h2 {
    font-size: 2em;
}
label {
    display: block;
    font-size: 1.2em;
    margin-bottom: .5em;
}

input, textarea {
    width: 100%;
    padding: .8em;
    margin-bottom: 1em;
    border-radius: .3em;
    border: 1px solid gray;
    box-sizing: border-box;
}

input[type="submit"] {
    background-color: var(--primary-color);
    color: white;
    font-weight: bold;
    font-size: 1.3em;
    border: none;
    margin-bottom: 5em;
    border-radius: 5em;
    display: inline-block;
    padding: .8em 2em;
    width: unset;
    cursor:pointer;
}

iframe {
    width: 100%;
    height: 300px;
}


// design for mobile

nav.menu-btn {
    display: block;
}

nav {
    position: fixed;
    z-index: 999;
    width: 66%;
    right: 0;
    top: 0;
    background: var(--dark-color);
    height: 100vh;
    padding: 1em;
    ul.primary-nav {
        margin-top: 5em;
    }
    li {
        a {
            color: white;
            text-decoration: none;
            display: block;
            padding: .5em;
            font-size: 1.3em;
            text-align: right;
            &:hover {
                font-weight: bold;
            }
        }
    }
}

.mobile-menu-exit {
    float: right;
    margin: .5em;
    cursor: pointer;
}

@media only screen and (min-width: 768px) {
    .mobile-menu, .mobile-menu-exit {
        display: none;
    }
    .navbar .container {
        display: grid;
        grid-template-columns: 180px auto;
    }
    .navbar nav {
        display: flex;
        justify-content: space-between;
        background: none;
        position: unset;
        height: auto;
        width: 100%;
        padding: 0;

        ul{
            display: flex;
        }
        a {
            color: white;
            font-size: 1em;
            padding: .1em 1em;
        }

        ul.primary-nav {
            margin: 0;
        }

        li.current a {
            font-weight: bold;
        }

        li.getintouch-cta a {
            color: var(--primary-color);
            border: 3px solid var(--primary-color);
            font-weight: bold;
            border-radius: 5em;
            margin-top: -.2em;

            &:hover {
                background: var(--primary-color);
                color: white;
            }
        }
    }
    section.about-section>.container>img {
        display: block;
        position: absolute;
        right: 0;
        width: 200px;
        bottom: -2em;
        z-index: 1;
        filter: grayscale(70%);
    }
    section.projects-section {
        .project-card.filler {
            display: block;
        }
    }
}

@media only screen and (min-width: 1080px) {
    .container {
        width: 1080px;
        margin: 0 auto;
    }
    .hero .container {
        display: flex;
        justify-content: space-between;
        text-align: left;

        .left-col {
            margin: 1em 1em 0 1em;
            h1 {
                font-size: 4em;
                width: 100%;
            }
        }
    }

    .hero-cta {
        display: flex;
    }

    .primary-cta {
        margin-right: 1em;
    }

    ul.features-list {
        display: block;
        margin-left: 5em;

        li {
            font-size: 1.4em;
            &:before {
                width: 30px;
                height: 30px;
            }
        }
    }
    .features-section {
        position: relative;
    }

    .testimonials-section ul {
        display: flex;

        li {
            margin: 0 1em;
        }
    }

    .contact-section {
        position: relative;
        .container {
            display: flex;
        }
    }
    .contact-right {
        position: absolute;
        right: 0;
        top: 0;
        width: 45%;
        height: 100%;

        iframe {
            height: 100%
        }
    }
}

@media only screen and (min-width: 1450px) {
    .features-section {
        &:before {
            content: '';
            position: absolute;
            width: 10%;
            height: 20em;
            background: var(--primary-color);
            left: 0;
            top: -4em
        }
        &:after {
            content: '';
            position: absolute;
            width: 200px;
            height: 20em;
            background: url('../images/dots.svg') no-repeat;
            left: 4.5em;
            top: 2em
        }
    }
}