@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=STIX+Two+Math&display=swap");
:root {
  --primary-color: #007af3;
  --light-color: #f2f2f2;
  --dark-color: #20272e;
  --beige-color: hsl(49 37% 94%);
  --typewriter-speed: 3s;
  --typewriter-delay: 1s;
  --typewriter-characters: 18;
}

body {
  background: var(--light-color);
  margin: 0;
  font-family: 'Poppins';
}

.navbar {
  background: #000;
  padding: 1em;
  position: fixed;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  z-index: 999;
}

.navbar .logo-part {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  font-weight: bold;
  color: #fff;
  font-size: 1.4em;
}

.navbar .logo-part .logo-text {
  margin-bottom: 0.3em;
  margin-left: 1em;
}

.navbar .logo-part .logo-text span {
  color: var(--primary-color);
}

.navbar .logo-part .logo img {
  width: 2rem;
}

.navbar nav {
  display: none;
}

.navbar .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  place-content: space-between;
}

.navbar .mobile-menu {
  cursor: pointer;
}

a {
  color: #444444;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

section {
  padding: 3em 2em 7em 3em;
}

.subhead {
  text-align: center;
  position: relative;
  text-transform: uppercase;
  font-weight: bold;
  color: var(--primary-color);
  letter-spacing: .3em;
}

.subhead:before {
  content: '';
  position: absolute;
  left: 0px;
  top: 12px;
  width: 60px;
  height: 2px;
  background-color: var(--primary-color);
}

.hero {
  text-align: center;
  background: black;
  height: 100vh;
}

.hero .container {
  padding-top: 5em;
}

.hero .left-col .subhead {
  opacity: 0;
  -webkit-animation: showup var(--typewriter-delay) forwards;
          animation: showup var(--typewriter-delay) forwards;
}

.hero .left-col h1 {
  position: relative;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  font-size: 2em;
  line-height: 1.3em;
  margin-top: .2em;
  color: #fff;
  font-family: 'Syne Mono', monospace;
}

.hero .left-col h1::before, .hero .left-col h1::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.hero .left-col h1::before {
  background: black;
  -webkit-animation: typewriter var(--typewriter-speed) steps(var(--typewriter-characters)) var(--typewriter-delay) forwards;
          animation: typewriter var(--typewriter-speed) steps(var(--typewriter-characters)) var(--typewriter-delay) forwards;
}

.hero .left-col h1::after {
  width: 0.125em;
  background: var(--beige-color);
  visibility: hidden;
  -webkit-animation: typewriter var(--typewriter-speed) steps(var(--typewriter-characters)) var(--typewriter-delay) forwards, blink 1s infinite;
          animation: typewriter var(--typewriter-speed) steps(var(--typewriter-characters)) var(--typewriter-delay) forwards, blink 1s infinite;
}

.hero .left-col h2 {
  font-size: 2em;
  line-height: 1.3em;
  margin-top: .2em;
  color: #fff;
  font-family: 'Syne Mono', monospace;
  opacity: 0;
  -webkit-animation: showup 1s calc(var(--typewriter-speed) + var(--typewriter-delay) + 500ms) forwards;
          animation: showup 1s calc(var(--typewriter-speed) + var(--typewriter-delay) + 500ms) forwards;
}

.hero .left-col .primary-cta {
  background: var(--primary-color);
  color: white;
  text-decoration: none;
  padding: .6em 1.3em;
  border-radius: 5em;
  font-weight: bold;
  display: inline-block;
}

.hero .left-col .watch-video-cta {
  display: block;
  margin: 1em 0 0 0;
}

.hero .left-col .watch-video-cta img {
  margin-right: .5em;
}

section.about-section {
  margin: 0;
  position: relative;
}

section.about-section > .container > img {
  display: none;
}

section.about-section .img-coin {
  height: 6em;
  padding: 1em;
  background: white;
  border-radius: 3em;
}

section.about-section ul.expertise {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

section.about-section ul.expertise li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: white;
  padding: 1em;
  border: 0.125em solid var(--dark-color);
  background: var(--primary-color);
  width: 10em;
  height: 10em;
  margin-bottom: 1em;
  margin-right: 1em;
  border-radius: 1em;
}

section.about-section ul.expertise li img {
  width: 4em;
}

div.contact-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

div.contact-links .download-cv {
  color: var(--primary-color);
  border: 3px solid var(--primary-color);
  font-weight: bold;
  border-radius: 5em;
  text-decoration: none;
  padding: 1em;
}

div.contact-links .download-cv:hover {
  background: var(--primary-color);
  color: white;
}

div.contact-links ul.contact-links {
  margin: 2em 0 1em 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

div.contact-links ul.contact-links li {
  margin-right: 1em;
  height: 3em;
  width: 3em;
  border-radius: 1em;
}

div.contact-links ul.contact-links li img {
  width: 100%;
  border-radius: 1em;
}

.subhead-desktop {
  text-align: center;
  position: relative;
  text-transform: uppercase;
  font-weight: bold;
  color: var(--primary-color);
  letter-spacing: .3em;
}

section.projects-section {
  background: var(--dark-color);
  color: white;
}

section.projects-section .container {
  display: block;
}

section.projects-section .container .projects-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

section.projects-section .project-card {
  text-align: center;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 400px;
          flex: 1 1 400px;
  background: var(--light-color);
  color: var(--dark-color);
  width: 80vw;
  height: 100vh;
  z-index: 1;
  margin-bottom: 1em;
  margin-left: 2em;
  -webkit-box-shadow: 2px 2px 4px black;
          box-shadow: 2px 2px 4px black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 2em;
}

section.projects-section .project-card h3 {
  font-size: 1.5em;
}

section.projects-section .project-card div.imgs-tech {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 1em;
}

section.projects-section .project-card div.imgs-tech img {
  height: 2em;
  margin: 0 1em 0 0;
}

section.projects-section .project-card img.img-project {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  height: 160px;
}

section.projects-section .project-card .seelive {
  text-decoration: none;
  text-transform: uppercase;
  color: var(--light-color);
  background: var(--primary-color);
  text-align: center;
  padding: 1em;
  justify-self: flex-end;
}

section.projects-section .project-card .seelive:hover {
  cursor: pointer;
}

section.projects-section h3 span a {
  font-size: 0.75em;
  color: var(--primary-color);
}

h2 {
  font-size: 2em;
}

label {
  display: block;
  font-size: 1.2em;
  margin-bottom: .5em;
}

input, textarea {
  width: 100%;
  padding: .8em;
  margin-bottom: 1em;
  border-radius: .3em;
  border: 1px solid gray;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

input[type="submit"] {
  background-color: var(--primary-color);
  color: white;
  font-weight: bold;
  font-size: 1.3em;
  border: none;
  margin-bottom: 5em;
  border-radius: 5em;
  display: inline-block;
  padding: .8em 2em;
  width: unset;
  cursor: pointer;
}

iframe {
  width: 100%;
  height: 300px;
}

nav.menu-btn {
  display: block;
}

nav {
  position: fixed;
  z-index: 999;
  width: 66%;
  right: 0;
  top: 0;
  background: var(--dark-color);
  height: 100vh;
  padding: 1em;
}

nav ul.primary-nav {
  margin-top: 5em;
}

nav li a {
  color: white;
  text-decoration: none;
  display: block;
  padding: .5em;
  font-size: 1.3em;
  text-align: right;
}

nav li a:hover {
  font-weight: bold;
}

.mobile-menu-exit {
  float: right;
  margin: .5em;
  cursor: pointer;
}

@media only screen and (min-width: 768px) {
  .mobile-menu, .mobile-menu-exit {
    display: none;
  }
  .navbar .container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 180px auto;
        grid-template-columns: 180px auto;
  }
  .navbar nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    background: none;
    position: unset;
    height: auto;
    width: 100%;
    padding: 0;
  }
  .navbar nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .navbar nav a {
    color: white;
    font-size: 1em;
    padding: .1em 1em;
  }
  .navbar nav ul.primary-nav {
    margin: 0;
  }
  .navbar nav li.current a {
    font-weight: bold;
  }
  .navbar nav li.getintouch-cta a {
    color: var(--primary-color);
    border: 3px solid var(--primary-color);
    font-weight: bold;
    border-radius: 5em;
    margin-top: -.2em;
  }
  .navbar nav li.getintouch-cta a:hover {
    background: var(--primary-color);
    color: white;
  }
  section.about-section > .container > img {
    display: block;
    position: absolute;
    right: 0;
    width: 200px;
    bottom: -2em;
    z-index: 1;
    -webkit-filter: grayscale(70%);
            filter: grayscale(70%);
  }
  .subhead-desktop {
    text-align: center;
    position: relative;
    text-transform: uppercase;
    font-weight: bold;
    color: var(--primary-color);
    letter-spacing: .3em;
  }
  .subhead-desktop:before {
    content: '';
    position: absolute;
    left: 0px;
    top: 12px;
    width: 60px;
    height: 2px;
    background-color: var(--primary-color);
  }
  .project-card {
    width: 66vw !important;
  }
  img.img-project {
    height: 200px !important;
  }
  section.contact-section .contact-right {
    padding: 0 0 0 5em;
  }
  section.contact-section .contact-right h3 {
    text-transform: uppercase;
    font-weight: bold;
  }
}

@media only screen and (min-width: 1080px) {
  .container {
    width: 1080px;
    margin: 0 auto;
  }
  .hero .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    text-align: left;
  }
  .hero .container .left-col {
    margin: 1em 1em 0 1em;
  }
  .hero .container .left-col h1 {
    font-size: 4em;
    width: 100%;
  }
  .hero-cta {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .primary-cta {
    margin-right: 1em;
  }
  .contact-section {
    position: relative;
  }
  .contact-section .contact-details {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@-webkit-keyframes typewriter {
  to {
    left: 100%;
  }
}

@keyframes typewriter {
  to {
    left: 100%;
  }
}

@-webkit-keyframes blink {
  25% {
    visibility: visible;
  }
  75% {
    visibility: hidden;
  }
}

@keyframes blink {
  25% {
    visibility: visible;
  }
  75% {
    visibility: hidden;
  }
}

@-webkit-keyframes showup {
  to {
    opacity: 1;
  }
}

@keyframes showup {
  to {
    opacity: 1;
  }
}
/*# sourceMappingURL=main.css.map */